<div class="display">0</div>
<div class="introContainer">
	<div class="schedule test3">How It's Going Down!</div>

	<div class="first-img-container">
		<%= image_tag("1.jpg", class: 'first-img') %>
	</div>
	
	<p class="intro-text">Saturday, June 9th, is the big day!  On Sunday, we will be having brunch at a nearby restaurant for a recap and farewell of the wedding.  See below for a more detailed schedule of the weekend.</p>

<div class="leftSide">

	<%= image_tag("gettingMarried.jpg", class: 'gettingMarried') %>
	<h1 class="ourWedding firstFadeLeft">Our Wedding,</h1>
	<h3 class="dateFirst firstFadeLeft">Saturday June 9th, 2018</h3>
	<h3 class="timeFirst firstFadeLeft">12:00 PM - 10:00 PM</h3>

	<%= image_tag("caipirinha.jpg", class: 'cheers') %>
	<h1 class="cocktail">Cocktail Hour:</h1>
	<h3 class="cocktailTime">SATURDAY JUNE 9, 2018 <br/>12:00 PM - 1:00 PM</h3>
</div>


<svg class="vtLine" height="400" width="2">
  <polyline points=" 0,0 0,500"/>
</svg>

<!-- <svg class="vt-line2" height="400" width="2">
  <polyline points=" 0,0 0,500"/>
</svg> -->

<div class="rightSide">
	<div class="animationDelay">
		<%= image_tag("hearts-red.png", class: 'hearts') %>

		<p class="where firstFadeRight">O'Donnell Residence <br />6 Martha Circle <br />Fallsington, PA 19054</p>
		<p class="attire firstFadeRight">Garden Party Attire</p>
		<p class="attireInfo firstFadeRight">Information on Garden Party Attire 

		<%= link_to "Here", "https://www.quora.com/How-should-you-dress-if-youre-going-to-a-wedding-where-the-invitation-suggests-garden-party-attire", :target => "_blank" %></p>

	</div>
<!-- right Side #2 -->
		<%= image_tag("couple.png", class: 'couple') %>

	<h2 class="where2">The O'Donnell Residence</h2>
	<br />
	<h2 class="comeMingle">Come mingle with Almeida-Schaible family and friends!  Enjoy some specially-designed cocktails and delicious appetizers including some Brazilian cuisine.</h2>
</div>

<svg class="vtLine2" height="450" width="2">
  <polyline points=" 0,0 0,450"/>
</svg>






<!-- https://www.quora.com/How-should-you-dress-if-youre-going-to-a-wedding-where-the-invitation-suggests-garden-party-attire


 -->









</div>


<div class="content"></div>
















