<div class="navMenu">
	<!-- ================= -->
	<%= image_tag("pointer.png", class: 'pointer') %>
	<%= link_to "HOME", root_path, class: 'navLinks' %> 
	<!-- ================= -->
	<%= image_tag("pointer.png", class: 'pointer') %>
	<%= link_to "SCHEDULE", schedule_path, :class=> 'navLinks scheduleTab' %> 
	<!-- ================= -->
	<%= image_tag("pointer.png", class: 'pointer') %>
	<%= link_to "TRAVEL", travel_path, class: 'navLinks' %> 
	<!-- ================= -->
	<%= image_tag("pointer.png", class: 'pointer') %>
	<%= link_to "REGISTRY", registry_path, class: 'navLinks' %> 
	<!-- ================= -->
	<%= image_tag("pointer.png", class: 'pointer') %>
	<%= link_to "PHOTOS", photos_path, class: 'navLinks' %> 
	<!-- ================= -->
	<%= image_tag("pointer.png", class: 'pointer') %>
	<%= link_to "FAQ's", faq_path, class: 'navLinks' %> 
	<!-- ================= -->
	<%= image_tag("pointer.png", class: 'pointer') %>
	<%= link_to "RSVP", rsvp_path, class: 'navLinks' %> 
		<!-- ================= -->
</div>